name: Build, publish and deploy to MonsterASP.NET

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      # Restore packages (solution level, no RID)
      - name: Restore dependencies
        run: dotnet restore

      # Build the solution (NO runtime here!)
      - name: Build
        run: dotnet build --configuration Release --no-restore

      # Publish ONE project with runtime
      - name: Publish (
